h1= title
p Welcome to chat, #{user}!

// External scripts here
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
script(src="/socket.io/socket.io.js")
script(src='/javascripts/chat/chat.js') //all socket javascript

form(action='logout', method='post')
	input(type="submit", value="Logout")
br

div(id="chat_messages")

form(id='chat_input')
	input(id="chat_input_box", placeholder="Type and press enter")
	input(type="submit", value="Send")