
h1= title
p Please type a username below and click Sign in to start chatting.
form(action='chat', method='post')
	input(type="text", name="user[name]", placeholder='Enter a username')
	input(type="submit", value='Sign in')
