body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat_messages {
    float: right;
    width: 300px;
    height: 575px;
    border: 1px solid red;
	  overflow:scroll;
	  word-wrap: break-word;
}

#chat_input_box {
  width: 250px;
}

#slide {
  width: 600px;
  height: 400px;
  border: 1px solid red;
  overflow: auto; /* so they don't overlap */
  background-image: url('/images/presentation/test1.png');
}

#lol {
  float:left;
}

#chat_input {
  clear: both;
  display: block;
  float: right;
}

#listUsers {
  float: right;
}

#current_users {
  width: 200px;
  height: 300px;
  border: 1px solid red;
}

#haha {
  float:right;
}

#logout {
  float: right;
}

#send_chat {
  float:right;
}

#imagecontrols form {
  display: inline;
}
