body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat_messages {
    display: block;
    float: right;
    width: 300px;
    height: 400px;
    border: 1px solid red;
	  overflow:scroll;
	  word-wrap: break-word;
}

#chat_input_box {
  width: 250px;
}

#chat_input {
  clear: both;
  display: block;
  float: right;
}

#send_chat {
  float:right;
}

